# Site
name: Dylan's Blog
description: 'This is my blog for my CSCI 340! It is based on a jekyll theme and I am looking forward to adding some posts on it!'
#logo: 'assets/images/logo.png'
#favicon: 'assets/images/favicon.ico'
baseurl: /csci340lab5
#disqus: 'demowebsite'
email: 'carterDW@hendrix.edu'
##mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
authors:
    Dylan:
      name:           Dylan
      site:           https://www.dylwcar.com
      avatar:         /assets/images/dylan.jpg
      bio:            "Studying computer science at Hendrix College"
      email:          carterDW@hendrix.edu
      #twitter:        https://twitter.com/wowthemesnet
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: Dylan
      avatar: /assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]